In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)

In [2]:
# Read the CSV file
df = pd.read_csv('models.csv', header=None)

In [3]:
df.head()

       0        1
0  acura  integra
1  acura   Legend
2  acura    vigor
3  acura      rlx
4  acura      ILX

In [4]:
# Create a dictionary with brand as key and all associated models in a list
brand_to_models = df.groupby(0)[1].apply(list).to_dict()

# Convert brands to lowercase and their models to a list of lowercase models
brand_to_models = {brand.lower(): [model.lower() for model in models] for brand, models in brand_to_models.items()}

# Create the Model to Brand Dictionary Key Value pairs
model_to_brand = {model: brand for brand, models in brand_to_models.items() for model in models}
print(model_to_brand)

{'cooper': 'mini', 'countryman': 'mini', 'clubman': 'mini', 'integra': 'acura', 'legend': 'honda', 'vigor': 'acura', 'rlx': 'acura', 'ilx': 'acura', 'mdx': 'acura', 'rdx': 'acura', 'tsx': 'acura', 'rsx': 'acura', 'is': 'acura', 'quattro': 'audi', 'a4': 'audi', 'a6': 'audi', 'a5': 'audi', 'a7': 'audi', 'q3': 'audi', 'q5': 'audi', 'q7': 'audi', 'a8': 'audi', 'a3': 'audi', '3-series': 'bmw', '5-series': 'bmw', '6-series': 'bmw', '4-series': 'bmw', 'xdrive': 'bmw', 'alpina': 'bmw', '330ci': 'bmw', '328i': 'bmw', '330c': 'bmw', '335i': 'bmw', '335d': 'bmw', '528i': 'bmw', '535i': 'bmw', '128i': 'bmw', '640i': 'bmw', '3er': 'bmw', '5er': 'bmw', 'm5': 'bmw', 'm3': 'bmw', 'm6': 'bmw', 'bmws': 'bmw', 'bmwesque': 'bmw', 'park avenue': 'buick', 'la crosse': 'buick', 'lacrosse': 'buick', 'century': 'toyota', 'enclave': 'buick', 'encore': 'buick', 'regal': 'buick', 'buicks': 'buick', 'escalade': 'cadillac', 'srx': 'cadillac', 'xts': 'cadillac', 'cars': 'car', 'grand blazer': 'chevrolet', 'trailblazer': 'chevrolet', 'silverado': 'chevrolet', 'colorado': 'chevrolet', 'corvette': 'chevrolet', 'suburban': 'chevrolet', 'cavalier': 'chevrolet', 'caprice': 'chevrolet', 'captiva': 'chevrolet', 'equinox': 'chevrolet', 'express': 'chevrolet', 'lacetti': 'chevrolet', 'montana': 'chevrolet', 'uplander': 'chevrolet', 'orlando': 'chevrolet', 'tornado': 'chevrolet', 'tracker': 'chevrolet', 'traverse': 'chevrolet', 'camaro': 'chevrolet', 'cobalt': 'chevrolet', 'impala': 'chevrolet', 'lumina': 'chevrolet', 'malibu': 'chevrolet', 'prisma': 'chevrolet', 'tavera': 'chevrolet', 'agile': 'chevrolet', 'celta': 'chevrolet', 'cruze': 'chevrolet', 'lanos': 'chevrolet', 'omega': 'chevrolet', 'optra': 'chevrolet', 'sonic': 'chevrolet', 'spark': 'chevrolet', 'tahoe': 'chevrolet', 'aveo': 'chevrolet', 'lova': 'chevrolet', 'n200': 'chevrolet', 'niva': 'chevrolet', 'onix': 'chevrolet', 's-10': 'chevrolet', 'sail': 'chevrolet', 'volt': 'chevrolet', 'chevy': 'chevrolet', 'malibus': 'chevrolet', 'town and country': 'chrysler', 'chrysler 300': 'chrysler', 'chrysler 200': 'chrysler', 'pacifica': 'chrysler', 'cruiser': 'chrysler', 'sebring': 'chrysler', '300m': 'chrysler', 'lx': 'chrysler', 'chryslers': 'chrysler', 'challenger': 'dodge', 'intrepid': 'dodge', 'avenger': 'dodge', 'charger': 'dodge', 'durango': 'dodge', 'journey': 'dodge', 'caliber': 'dodge', 'stealth': 'dodge', 'magnum': 'dodge', 'viper': 'dodge', 'dart': 'dodge', 'ram': 'dodge', 'crownvictoria': 'ford', 'expedition': 'ford', 'supervan': 'ford', 'freestar': 'ford', 'explorer': 'ford', 'mustang': 'ford', 'ecoline': 'ford', 'tourneo': 'ford', 'everest': 'ford', 'fiesta': 'ford', 'fusion': 'ford', 'taurus': 'ford', 'galaxy': 'ford', 'escape': 'ford', 'focus': 'ford', 'f-150': 'ford', 'c-max': 'ford', 's-max': 'ford', 'kuga': 'ford', 'cmax': 'ford', 'f150': 'ford', 'fords': 'ford', 'fusions': 'ford', 'fusionmilan': 'ford', 'crosstour': 'honda', 'ridgeline': 'honda', 'inspire': 'honda', 'mobilio': 'honda', 'prelude': 'honda', 'shuttle': 'honda', 'spirior': 'honda', 'stepwgn': 'honda', 'crider': 'honda', 'insight': 'honda', 'odyssey': 'honda', 'stream': 'honda', 'amaze': 'honda', 'hobio': 'honda', 'n-box': 'honda', 'n-one': 'honda', 'n-wgn': 'honda', 'pilot': 'honda', 'vamos': 'honda', 'vezel': 'honda', 'spike': 'honda', 'acty': 'honda', 'brio': 'honda', 'city': 'honda', 'civic': 'honda', 'cr-v': 'honda', 'freed': 'honda', 'jade': 'honda', 'zest': 'honda', 'aria': 'honda', 'ex-l': 'honda', 'cr-z': 'honda', 'jazz': 'honda', 'nsx': 'honda', 'nbox': 'honda', 'exl': 'honda', 'fcx': 'honda', '5dr': 'honda', 'crv': 'honda', 'accord': 'honda', 'hondas': 'honda', 'accords': 'honda', 'odessey': 'honda', 'hyundaikia': 'hyndai kia', 'centennial': 'hyundai', 'grandeur': 'hyundai', 'veloster': 'hyundai', 'elantra': 'hyundai', 'genesis': 'hyundai', 'tiburon': 'hyundai', 'tuscani': 'hyundai', 'dynasty': 'hyundai', 'santamo': 'hyundai', 'stellar': 'hyundai', 'accent': 'hyundai', 'lantra': 'hyundai', 'avante': 'hyundai', 'santro': 'hyundai', 'sonata': 'hyundai', 'scoupe': 'hyundai', 'matrix': 'toyota', 'lavity': 'hyundai', 'verna': 'hyundai', 'equus': 'hyundai', 'azera': 'hyundai', 'xcent': 'hyundai', 'click': 'hyundai', 'atos': 'hyundai', 'atoz': 'hyundai', 'ix20': 'hyundai', 'getz': 'hyundai', 'pony': 'hyundai', 'i10': 'hyundai', 'i20': 'hyundai', 'i30': 'hyundai', 'i40': 'hyundai', 'i45': 'hyundai', 'xg': 'hyundai', 'santa': 'hyundai', 'sonatas': 'hyundai', 'hyundais': 'hyundai', 'veracruz': 'hyundai', 'excel,': 'hyundai,', 'excel.': 'hyundai.', 'qx50': 'infiniti', 'qx60': 'infiniti', 'qx70': 'infiniti', 'fx35': 'infiniti', 'q50': 'infiniti', 'q60': 'infiniti', 'q70': 'infiniti', 'g37': 'infiniti', 'g25': 'infiniti', '6mt': 'infiniti', 'cadenza': 'kia', 'sorento': 'kia', 'sedona': 'kia', 'forte': 'kia', 'koup': 'kia', 'k900': 'kia', 'kias': 'kia', 'optima': 'kia.', 'navigator': 'lincoln', 'town car': 'lincoln', 'zephyr': 'lincoln', 'mkz': 'lincoln', 'mks': 'lincoln', 'mkx': 'lincoln', 'mkc': 'lincoln', 'mkt': 'lincoln', 'az-offroad': 'mazda', 'az-wagon': 'mazda', 'familia': 'mazda', 'premacy': 'mazda', 'biante': 'mazda', 'carol': 'mazda', 'scrum': 'mazda', 'mazda2': 'mazda', 'mazda3': 'mazda', 'mazda5': 'mazda', 'atenza': 'mazda', 'mazda6': 'mazda', 'mazda8': 'mazda', 'bongo': 'mazda', 'demio': 'mazda', 'axela': 'mazda', 'rx-8': 'mazda', 'cx-7': 'mazda', 'bt-50': 'mazda', 'mx-5': 'mazda', 'cx-5': 'mazda', 'cx-9': 'mazda', '6i': 'mazda', 'cx9': 'mazda', 'cx5': 'mazda', 'rx8': 'mazda', 'mazdas': 'mazda', 'mazda6s': 'mazda', 'mazda6i': 'mazda', 'mercedes-benz': 'mercedes', 'benz': 'mercedes', 'cl-class': 'mercedes', 'c-class': 'mercedes', 'e-class': 'mercedes', 's-class': 'mercedes', 'mercedesbenz': 'mercedes', 'milan': 'mercury', 'mercury': 'mercury', 'galant': 'mitsubishi', 'lancer': 'mitsubishi', 'pathfinder': 'nissan', 'frontier': 'nissan', 'sentra': 'nissan', 'altima': 'nissan', 'maxima': 'nissan', 'murano': 'nissan', 'armada': 'nissan', 'xterra': 'nissan', 'versa': 'nissan', 'rogue': 'nissan', 'titan': 'nissan', 'cube': 'nissan', 'juke': 'nissan', 'leaf': 'nissan', '370z': 'nissan', 'altimas': 'nissan', 'nissans': 'nissan', 'quest.': 'nissan.', 'quest,': 'nissan.', 'streamliner': 'pontiac', 'grand prix': 'pontiac', 'grand am': 'pontiac', 'sunfire': 'pontiac', 'torpedo': 'pontiac', 'aztek': 'pontiac', 'vibe': 'pontiac', 'wave': 'pontiac', 'gxp': 'pontiac', 'gto': 'pontiac', 'g6': 'pontiac', 'g3': 'pontiac', 'g4': 'pontiac', 'g5': 'pontiac', 'g8': 'pontiac', 'problems': 'problem', 'aura': 'saturn', 'seats': 'seat', 'sedans': 'sedan', 'outback sport': 'subaru', 'grand wagon': 'subaru', 'impreza xv': 'subaru', 'crosstrek': 'subaru', 'lancaster': 'subaru', 'forester': 'subaru', 'impreza': 'subaru', 'tribeca': 'subaru', 'liberty': 'subaru', 'outback': 'subaru', 'gravel': 'subaru', 'legacy': 'subaru', 'sambar': 'subaru', 'stella': 'subaru', 'exiga': 'subaru', 'pleo': 'subaru', 'brz': 'subaru', 'wrx': 'subaru', 'dex': 'subaru', 'r1': 'subaru', 'r2': 'subaru', 'every landy': 'suzuki', 'cappuccino': 'suzuki', 'mighty boy': 'suzuki', 'geo metro': 'suzuki', 'mr wagon': 'suzuki', 'palette': 'suzuki', 'wagon r': 'suzuki', 'kizashi': 'suzuki', 'equator': 'suzuki', 'splash': 'suzuki', 'ertiga': 'suzuki', 'cultus': 'suzuki', 'esteem': 'suzuki', 'fronte': 'suzuki', 'escudo': 'suzuki', 'lapin': 'suzuki', 'solio': 'suzuki', 'swift': 'suzuki', 'landy': 'suzuki', 'jimny': 'suzuki', 'aerio': 'suzuki', 'liana': 'suzuki', 'cervo': 'suzuki', 'forsa': 'suzuki', 'ignis': 'suzuki', 'x-90': 'suzuki', 'xl7': 'suzuki', 'sx4': 'suzuki', 'apv': 'suzuki', 'camrybest': 'toyata', 'corolla/sprinter': 'toyota', 'urban cruiser': 'toyota', 'land cruiser': 'toyota', 'highlander': 'toyota', 'fj cruiser': 'toyota', 'hilux surf': 'toyota', 'fortuner': 'toyota', 'stallion': 'toyota', 'vanguard': 'toyota', '4runner': 'toyota', 'alphard': 'toyota', 'avensis': 'toyota', 'coaster': 'toyota', 'comfort': 'toyota', 'granvia': 'toyota', 'liteace': 'toyota', 'scepter': 'toyota', 'sequoia': 'toyota', 'succeed': 'toyota', 'townace': 'toyota', 'toyoace': 'toyota', 'venture': 'toyota', 'allion': 'toyota', 'aurion': 'toyota', 'avalon': 'toyota', 'avanza': 'toyota', 'condor': 'toyota', 'fiedler': 'toyota', 'majesta': 'toyota', 'estima': 'toyota', 'hiclass': 'toyota', 'innova': 'toyota', 'kijang': 'toyota', 'kingdom': 'toyota', 'kluger': 'toyota', 'miniace': 'toyota', 'picnic': 'toyota', 'premio': 'toyota', 'probox': 'toyota', 'qualis': 'toyota', 'ractis': 'toyota', 'sienna': 'toyota', 'sienta': 'toyota', 'sparky': 'toyota', 'tacoma': 'toyota', 'tamaraw': 'toyota', 'tarago': 'toyota', 'tundra': 'toyota', 'vienta': 'toyota', 'auris': 'toyota', 'belta': 'toyota', 'camry': 'toyota', 'carri': 'toyota', 'rumion': 'toyota', 'etios': 'toyota', 'hilux': 'toyota', 'hiace': 'toyota', 'mark x': 'toyota', 'passo': 'toyota', 'porte': 'toyota', 'prius': 'toyota', 'sofia': 'toyota', 'tiara': 'toyota', 'venza': 'toyota', 'verso': 'toyota', 'yaris': 'toyota', 'zelas': 'toyota', 'aygo': 'toyota', 'cami': 'toyota', 'dyna': 'toyota', 'isis': 'toyota', 'nadia': 'toyota', 'noah': 'toyota', 'raum': 'toyota', 'rav4': 'toyota', 'reiz': 'toyota', 'vios': 'toyota', 'voxy': 'toyota', 'platz': 'toyota', 'axio': 'toyota', 'ist': 'toyota', 'sai': 'toyota', 'vitz': 'toyota', 'echo': 'toyota', 'bb': 'toyota', 'iq': 'toyota', 'zio': 'toyota', 'camrys': 'toyota', 'solara': 'toyota', 'corolla': 'toyota', 'toyotas': 'toyota', 'sportwagen': 'volkswagen', 'touraeg': 'volkswagen', 'passat': 'volkwagen', 'tiguan': 'volkswagen', 'beetle': 'volkswagen', 'rabbit': 'volkswagen', 'jetta': 'volkswagen', 'golf': 'volkswagen', 'gti': 'volkswagen', 'eos': 'volkswagen', 'volkwagen': 'volkswagen', 'vw': 'volkswagen', 'vws': 'volkswagen', 'passats': 'volkswagen', 'xc60': 'volvo', 'xc70': 'volvo', 'xc90': 'volvo', 's60': 'volvo', 's80': 'volvo', 'v60': 'volvo', 'c70': 'volvo'}

In [5]:
forum_data=pd.read_csv("edmunds_extraction.csv",header=None)

In [6]:
forum_data

,0,1,2
0,gouldn,September 2005,TSX v AccordExactly the same choice I went th...
1,jjtj,September 2005,My Silverado 2500 turns about 2K @ 70mph.. 6....
2,boomchek,September 2005,I got my 78 Chevy back on the road today afte...
3,ghulet,September 2005,....I had a '77 Caprice when I was in high sc...
4,boomchek,September 2005,Oh you can enjoy and relive all those memorie...
...,...,...,...
7395,roadburner,March 2008,Since I can't imagine that a dipstick was a s...
7396,roadburner,March 2008,After seeing more and more new Accord and Cam...
7397,woodyww,March 2008,BMW is supposedly making a couple of their di...
7398,roadburner,March 2008,BMW is supposedly making a couple of their di...
7399,woodyww,March 2008,I love the look of the current 5 Series. OTOH...

In [7]:
# Extracting unique brand names
unique_brands = set(model_to_brand.values())

def replace_models_with_brands(text, model_to_brand, unique_brands):
    brands_found = set()
    lower_text = text.lower()
    for model, brand in model_to_brand.items():
        if model in lower_text:
            lower_text = lower_text.replace(model, brand)
            brands_found.add(brand)
    
    # Also check for direct brand mentions
    for brand in unique_brands:
        if brand in lower_text:
            brands_found.add(brand)
    return lower_text, list(brands_found)

In [8]:
forum_data['Processed Text'], forum_data['Brands Mentioned'] = zip(*forum_data[2].apply(lambda text: replace_models_with_brands(text, model_to_brand, unique_brands)))

In [9]:
forum_data

,0,1,2,Processed Text,Brands Mentioned
0,gouldn,September 2005,TSX v AccordExactly the same choice I went th...,acura v hondaexactly the same choice i went t...,"[acura, honda]"
1,jjtj,September 2005,My Silverado 2500 turns about 2K @ 70mph.. 6....,my chevrolet 2500 turns about 2k @ 70mph.. 6....,[chevrolet]
2,boomchek,September 2005,I got my 78 Chevy back on the road today afte...,i got my 78 chevrolet back on the road today ...,[chevrolet]
3,ghulet,September 2005,....I had a '77 Caprice when I was in high sc...,....i had a '77 chevrolet when i was in high ...,"[car, acura, chevrolet]"
4,boomchek,September 2005,Oh you can enjoy and relive all those memorie...,oh you can enjoy and relive all those memorie...,"[car, acura, chevrolet]"
...,...,...,...,...,...
7395,roadburner,March 2008,Since I can't imagine that a dipstick was a s...,since i can't imagine that a dipstick was a s...,"[car, acura]"
7396,roadburner,March 2008,After seeing more and more new Accord and Cam...,after seeing more and more new honda and toyo...,"[acura, sedan, toyota, honda]"
7397,woodyww,March 2008,BMW is supposedly making a couple of their di...,bmw acura supposedly making a couple of their...,"[ford, acura, toyota, bmw]"
7398,roadburner,March 2008,BMW is supposedly making a couple of their di...,bmw acura supposedly making a couple of their...,"[acura, bmw]"
7399,woodyww,March 2008,I love the look of the current 5 Series. OTOH...,i love the look of the current 5 series. otoh...,"[car, bmw]"

In [10]:
brand_counts = pd.Series([brand for sublist in forum_data['Brands Mentioned'] for brand in sublist]).value_counts()
print(brand_counts)

acura         5350
car           3452
honda         1810
toyota        1568
ford           741
dodge          675
bmw            637
seat           600
chevrolet      560
nissan         537
problem        507
subaru         391
volkswagen     376
chrysler       299
mazda          296
audi           276
pontiac        267
saturn         252
volvo          248
sedan          211
mercedes       188
mini           178
hyundai        149
nissan.        107
lincoln         77
cadillac        61
mercury         54
volkwagen       52
kia             45
buick           41
infiniti        39
suzuki          24
hyundai.        18
hyundai,        18
kia.            17
mitsubishi       9
dtype: int64

In [11]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
import re
import string
from nltk.corpus import wordnet
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

brand_list=set(df[0])

# Step 1: Remove Car Brands
def remove_brands(text, brand_list):
    for brand in brand_list:
        text = text.replace(brand, "")
    return text

# Step 2: Lemmatize Function
def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

def lemmatize_text(text):
    lemmatizer = WordNetLemmatizer()
    words = word_tokenize(text)
    pos_tags = pos_tag(words)
    return [lemmatizer.lemmatize(word, get_wordnet_pos(tag)) for word, tag in pos_tags]

# Step 3: Remove Stop Words and Punctuation, and Filter Single Letters
import requests
stopwords_list = requests.get("https://gist.githubusercontent.com/rg089/35e00abf8941d72d419224cfd5b5925d/raw/12d899b70156fd0041fa9778d657330b024b959c/stopwords.txt").content
stop_words = set(stopwords_list.decode().splitlines())
punctuation = set(string.punctuation)

def filter_words(words):
    unique_words = set()  # Initialize an empty set to store unique words
    for word in words:
        if (word not in stop_words 
            and word not in punctuation
            and word not in ["''", "``", "--"]
            and len(word) > 1 
            and not re.search("(n't|'s|'m|'ve|'d|'ll|'re')$", word)
            and not re.fullmatch(r"\.{2,}", word)):
            unique_words.add(word)
    return list(unique_words)


# Step 4: Process and Add to DataFrame
forum_data['Words List'] = forum_data['Processed Text'].apply(lambda x: remove_brands(x, brand_list))
forum_data['Words List'] = forum_data['Words List'].apply(lambda x: lemmatize_text(x))
forum_data['Words List'] = forum_data['Words List'].apply(lambda x: filter_words(x))

[nltk_data] Downloading package punkt to /Users/addisonji/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/addisonji/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/addisonji/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [12]:
forum_data.head()

,0,1,2,Processed Text,Brands Mentioned,Words List
0,gouldn,September 2005,TSX v AccordExactly the same choice I went th...,acura v hondaexactly the same choice i went t...,"[acura, honda]","[area, year, commute, opinion, long, concern, ..."
1,jjtj,September 2005,My Silverado 2500 turns about 2K @ 70mph.. 6....,my chevrolet 2500 turns about 2k @ 70mph.. 6....,[chevrolet],"[6.0, v8, automatic, 15, highway, 4-spd, 70mph..."
2,boomchek,September 2005,I got my 78 Chevy back on the road today afte...,i got my 78 chevrolet back on the road today ...,[chevrolet],"[tie, road, 70, temp, rod, gauge, 78, tach, mp..."
3,ghulet,September 2005,....I had a '77 Caprice when I was in high sc...,....i had a '77 chevrolet when i was in high ...,"[car, acura, chevrolet]","[school, college, trip, optional, gas, speedom..."
4,boomchek,September 2005,Oh you can enjoy and relive all those memorie...,oh you can enjoy and relive all those memorie...,"[car, acura, chevrolet]","[gas, shade, memory, float, enjoy, 99572kms, t..."

In [13]:
attribute_counts = pd.Series([attribute for sublist in forum_data['Words List'] for attribute in sublist]).value_counts()
print(attribute_counts)

drive               1637
year                1579
good                1551
buy                 1537
time                1118
                    ...
dsappointed            1
track/attachment       1
recetiont              1
6.1l                   1
store.of               1
Length: 25068, dtype: int64

In [14]:
attributes_df = attribute_counts.reset_index()
attributes_df.columns = ['Attribute', 'Count']

In [15]:
attributes_df.head(200)

      Attribute  Count
0         drive   1637
1          year   1579
2          good   1551
3           buy   1537
4          time   1118
5          mile   1016
6         thing    930
7          nice    841
8           lot    824
9         price    769
10       dealer    721
11         work    715
12         sell    713
13       pretty    700
14          pay    691
15      vehicle    687
16        month    654
17        great    603
18          big    597
19          day    596
20         deal    593
21        truck    581
22          bad    564
23          're    559
24        trade    546
25         long    534
26         wife    521
27        guess    511
28        start    476
29        model    475
30       people    471
31         love    454
32        money    453
33         week    451
34       couple    444
35          bit    411
36        lease    388
37         cost    386
38      mileage    381
39          ago    381
40         tire    378
41          guy    372
42        wheel    368
43          gas    363
44        sound    361
45       engine    360
46        check    352
47        stick    352
48         high    350
49         kind    349
50        small    344
51         hard    341
52          low    340
53        leave    325
54     interior    321
55         turn    320
56        today    319
57        cheap    308
58       change    303
59         yeah    301
60       figure    300
61          fun    298
62     warranty    298
63      replace    296
64          kid    292
65        offer    289
66        worth    288
67          sue    288
68        close    286
69         live    286
70         feel    286
71         talk    284
72          sit    282
73         door    281
74        power    281
75        wagon    279
76         pick    275
77         road    274
78      payment    273
79       reason    270
80         idea    269
81          fit    268
82        house    266
83       driver    266
84       friend    264
85        point    258
86        spend    255
87         wait    254
88       repair    253
89          lol    250
90         hear    249
91         real    248
92         auto    248
93    expensive    246
94         rear    245
95          mpg    242
96        stuff    242
97       option    239
98     purchase    239
99         sale    238
100        trip    236
101    remember    235
102     service    234
103        test    234
104        read    233
105          10    233
106        ride    224
107        base    222
108         suv    220
109        post    220
110        plan    220
111      garage    219
112         add    217
113       place    216
114        shop    215
115       color    211
116       local    211
117     mention    211
118        easy    209
119      manual    209
120     current    209
121       light    207
122     include    205
123        mind    205
124        room    203
125     leather    203
126         hit    203
127       wrong    201
128        hold    201
129      decide    200
130        area    200
131   automatic    197
132        pull    197
133       brake    196
134       speed    196
135          v6    196
136      happen    196
137       brand    196
138       sport    195
139          gm    194
140       rover    193
141         set    193
142         awd    193
143      number    192
144       agree    187
145      diesel    186
146       coupe    185
147        cool    185
148       range    184
149      family    181
150        late    180
151        fuel    180
152        hope    179
153       order    177
154          .i    177
155        save    174
156        fine    174
157       extra    173
158       early    173
159        2000    172
160       black    172
161        mark    171
162        head    169
163      surpre    169
164         oil    168
165       break    168
166      decent    167
167        drop    166
168        lose    164
169        sick    164
170       build    164
171       owner    164
172      market    163
173          20    162
174        size    161
175  dealership    161
176      winter    161
177        hour    160
178       large    160
179       night    157
180        sort    157
181     compare    157
182     weekend    157
183   yesterday    156
184         job    155
185      choice    155
186       happy    155
187        fact    154
188  experience    154
189   insurance    154
190        snow    152
191     driving    152
192        town    151
193        park    151
194      window    151
195      summer    151
196     control    151
197        ccba    150
198        case    148
199        stay    148

In [16]:
forum_data.to_excel("after_extracted_make.xlsx")